{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Сумма заказа</th>
      <th>Статус</th>
      <th>Ссылка на админку</th>
      <th>Способ оплаты</th>
      <th>Комментарий</th>
      <th>Подходящие рестораны</th>
    </tr>
      {% for order_info in orders_info %}
        <tr>
          <td>{{order_info.id}}</td>
          <td>{{order_info.firstname}} {{order_info.lastname}}</td>
          <td>{{order_info.phonenumber}}</td>
          <td>{{order_info.address}}</td>
          <td>{{order_info.price_of_order}}</td>
          <td>{{order_info.status_of_order}}</td>
          <td><a href="{% url 'admin:foodcartapp_order_change' order_info.id %}?next={{request.path|urlencode}}">Редактировать</a></td>
          <td>{{order_info.payment_method}}</td>
          <td>{{order_info.comment}}</td>
          <td><details>{% for restaurant in restaurants %}<p>{{restaurant.suitable_restaurant}} - {{restaurant.distance_to_suitable_restaurant}}</p>{% endfor %}</details></td>
        </tr>
      {% endfor %}
   </table>
  </div>
{% endblock %}
