{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
    </tr>
      {% for order_info in orders_info %}
        <tr>
          <td>{{order_info.id}}</td>
          <td>{{order_info.firstname}} {{order_info.lastname}}</td>
          <td>{{order_info.phonenumber}}</td>
          <td>{{order_info.address}}</td>
        </tr>
      {% endfor %}
   </table>
  </div>
{% endblock %}
